.header {
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: black;

    & .logo {
        max-width: 190px; 
        font-size: 2rem;
        text-transform: uppercase;

        & > a {
            color: aqua;
        }
    }

    & > nav {
        flex-grow: 1;
        display: flex;
        justify-content: right;
        font-size: 2rem;
        text-transform: uppercase;

        & a {
            color: aqua;
        }
    }
}

